# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
log-*.log

# Environment
.env.local
.env.*.local

# Debugging
.DS_Store
.idea/
.vscode/
*.swp

# Build Files
build/
dist/

# Tests
coverage/
test-results/

# Operating System Files
Thumbs.db
*.DS_Store

# Git
.git/

# Deployment
*.zip
*.tar.gz

# IDEs and editors
.vs/
.idea/
.vscode/

.venv/
